/*tag*/

header {
    background-color: rgb(0, 0, 0);
    min-width: 15vh;
    position: sticky;
    top: 0;
    z-index: 50;
}


/*navbar style*/

.logo {
    font-size: 28px;
}

.logo__img {
    width: 100%;
}

.menu-options-list {
    list-style-type: none;
}

.menu-options__element {
    position: relative;
    text-decoration: none;
    transition: border-bottom 0.35s, font-size 0.2s;
}

.menu-options__element::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    /*    background: rgb(255, 247, 140);*/
    background: rgb(103, 254, 221);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

.menu-options__element:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
}

.dropdown-menu-button:focus {
    outline: none;
}


/*navbar - button dorpdown style*/

.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__bar,
.menu__bar::before,
.menu__bar::after {
    position: relative;
    background-color: #ffff;
    width: 4rem;
    height: 8px;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    left: 0;
}

.menu__bar::before,
.menu__bar::after {
    content: "";
    position: absolute;
    top: -15px;
    background-color: #ffff;
    transition: transform 0.3s ease;
}

.menu__bar::after {
    top: 15px;
    background-color: #ffff;
}


/*navbar - button dorpdown click style*/

.open .menu__bar {
    background-color: inherit;
    width: 55px;
    height: 4rem;
}

.open .menu__bar::after {
    background-color: #ffff;
    transform: translateY(0px) rotate(45deg);
}

.open .menu__bar::before {
    transform: translateY(30px) rotate(-45deg);
    background-color: #ffff;
}

.LIGHT .menu__bar,
.LIGHT .menu__bar::before,
.LIGHT .menu__bar::after,
.LIGHT .open .menu__bar::after,
.LIGHT .open .menu__bar::before {
    background-color: #12191C;
}

.LIGHT .open .menu__bar {
    background-color: inherit;
}


/*media query*/

@media (min-width: 992px) {
    body {
        font-size: 20px;
    }
    header nav {
        width: 60%;
    }
    header .navbar-Container {
        width: 40%;
        transition: background-color 0.5s ease;
    }
    header div.logo--dropdown {
        display: none;
    }
    header div.menu-options-list-dropdown--enable {
        flex-direction: row;
    }
    header div.menu-options-list-dropdown--enable .open .menu__bar {
        display: none;
    }
    .navbar {
        margin: 2rem;
        margin-bottom: 0.5rem;
        margin-left: 3rem;
    }
    .menu-options {
        margin: 2rem 0;
        margin-bottom: 0.5rem;
    }
    .dropdown-menu-button {
        display: none;
    }
    .menu-options-list {
        padding: 0;
        justify-content: center;
    }
    .menu-options-list li {
        margin: 0 1.5rem;
    }
    .menu-options-list,
    header {
        display: flex;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    body {
        font-size: 20px;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 10px;
    }
    body {
        font-size: 15px;
    }
    nav {
        display: inline-block;
        width: 100%;
    }
    header {
        display: flex;
        flex-direction: column;
    }
    header nav {
        width: 100%;
    }
    header .navbar-Container {
        width: 100%;
        transition: background-color 0.5s ease;
    }
    header div.menu-options-list-dropdown--enable {
        display: flex;
        flex-direction: column;
    }
    header div.menu-options-list-dropdown--enable ul.menu-options-list {
        margin: 5rem 0;
    }
    header div.menu-options {
        padding: 3rem 5rem;
        border: 1px solid #ffff;
        margin: 0 3rem;
        position: sticky;
        margin-bottom: 15rem;
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
    }
    .navbar {
        margin: 3rem;
        margin-left: 3rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
    }
    .menu-options-list-dropdown--disable {
        display: none;
    }
    .dropdown-menu-button {
        border: none;
        background-color: black;
        display: inline-block;
        height: 4rem;
        width: 6rem;
    }
    .menu-options-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
    .menu-options-list li {
        margin: 1.5rem auto;
    }
    .menu-options__element {
        font-weight: bold;
        transition: font-size 0.5s;
    }
    .menu-options__element:hover {
        font-size: 28px;
    }
}

@media (min-width: 500px) and (max-width: 900px) {
    nav.menu-options-list-dropdown--enable {
        min-height: 90vh;
    }
    nav.menu-options-list-dropdown--enable div.menu-options {
        margin: 5rem 10rem;
    }
}

@media (min-width: 800px) and (max-width: 992px) {
    nav.menu-options-list-dropdown--enable div.menu-options {
        padding: 10rem 5rem;
        margin: 5rem 10rem;
    }
}


/*# sourceMappingURL=Navbar.css.map */